= simple_form_for @yes_or_no_test, url: clients_yn_tests_path, html: { multipart: true } do |form|
  .form-inputs
    = form.input :title
    = form.input :active, as: :boolean
    = form.input :user_goal, as: :hidden
    = form.label :user_goal, "Target number of users"
    %span#user-slider
    %span#users-count
    x
    = number_to_currency @yes_or_no_test.payout
    \=
    $
    %span#pricing
    /= form.input :payout, as: :numeric, hint: "in dollars"
    = form.input :question, placeholder: "Do you like or dislike this idea?", hint: "Describe why a tester would like or dislike this idea and/or website"
    = form.input :image_a, as: :file
  .form-actions
    = form.button :submit, "Save"git