= simple_form_for [:clients, @ab_test], html: { multipart: true } do |form|
  .form-inputs
    = form.input :title
    = form.input :active, as: :boolean
    = form.input :user_goal, as: :hidden
    = form.label :user_goal, "Target number of users"
    %span#user-slider
    %span#users-count
    &times;
    = number_to_currency(@ab_test.payout + 0.15)
    \=
    $
    %span#pricing
    /= form.input :payout, as: :numeric, hint: "in dollars"
    = form.input :question, placeholder: "Which picture is better?", hint: "Describe why a tester would pick A or B"
    = form.input :image_a, as: :file
    = form.input :image_b, as: :file
  .form-actions
    = form.button :submit, "Save"