%span.response-count= @test.results.where(:answer => "A").count
A
= link_to "#" do
  = image_tag @test.image_a.url(:presentation)
= link_to "#" do
  = image_tag @test.image_b.url(:presentation)
B
%span.response-count= @test.results.where(:answer => "B").count