%h2 My Tests
#test-dashboard
  #tests-header
    %span.test-name Project
    %span.test-budget Balance
    %span.test-responses Results
    %span.test-winner Winning Choice
    %span.test-link
  #tests
    - @test_definitions.each_with_index do |defn, i|
      %div{ class: "test #{'odd' if i.odd?}" }
        .test-heads-up
          %span.test-name= link_to defn.title, clients_test_results_path(defn), remote: true
          %span.test-responses= defn.results.count
          %span.test-winner= defn.winner
          %span.test-link
            - if defn.is_a?(AbTest)
              = link_to "Edit", edit_clients_ab_test_path(defn)
            - else
              = link_to "Edit", edit_clients_yn_test_path(defn)
        %div{ id: "test-detail-#{defn.to_param}", class: "test-detail" }
= link_to new_clients_ab_test_path, id: "new-ab-test" do
  %button Create new A/B test
= link_to new_clients_yn_test_path, id: "new-yn-test" do
  %button Create new yes/no test