<%= stylesheet_link_tag 'testerDashboard' %>

<span>Next Payout: $<span id="money-earned">30.00</span>
<span id="tests-taken-wrapper">Tests Taken: <span id="tests-taken">110</span></span></span>

<h2>Available Tests</h2>

<div id="tests">
	<%- @tests.each do |test| %>
	    <div class="tester-test" id="test-<%= test.to_param %>">
	        <span class="test-payout">
	        	<%= number_to_currency test.payout %>
	        </span>
	        <span class="test-title" style="background-image: url('<%= test.image_a.url(:presentation) %>');"></span>

	        <span class="test-link">
	            <h4><%= test.title %></h4>
	            <p><%= test.question %></p>
	            <%= link_to testers_test_path(test) do %>
		            <button>Take this test!</button>
		          <%- end %>
	        </span>
	    </div>
	<%- end %>
</div>
<div style="clear: both;"></div>