%h2= @yes_or_no_test.title
%h3= @yes_or_no_test.question
%ul.yes-no-display
	%li= image_tag @yes_or_no_test.image.url(	:presentation)
= link_to 'Edit', edit_yn_test_path(@yes_or_no_test)
= link_to 'Back', clients_root_path