<%= stylesheet_link_tag 'dashboard' %>



<h2>Projects</h2>
<div id="test-dashboard">
    <div id="tests-header">
        <span class="test-name">Project</span>
        <span class="test-budget">Balance</span>
        <span class="test-responses">Results</span>
        <span class="test-winner">Winning Choice</span>
        <span class="test-link"></span>
    </div>
    <div id="tests">
        <div class="test odd">
            <div class="test-heads-up">
                <span class="test-name"><a href="#" data-id="1" class="show-test-details">usephoria</a></span>
                <span class="test-budget">$200.00</span>
                <span class="test-responses">21</span>
                <span class="test-winner">Dashboard A</span>
                <span class="test-link"><a href="#">View</a></span>
            </div>
            <div data-id="1" class="test-detail">
                <a href="#">Clone</a> | <a href="#">View Demographics</a>
                <h3>Summary<div class="balance">Balance: <span>$200.00</span> <a href="#">[+]</a></div></h3>
                <hr />
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                <h3>Responses</h3>
                <hr />
                <div class="response">
                    <span class="response-count">5</span><a href="<%= asset_path 'demo1.png' %>" target="_blank"><img src="<%= asset_path 'demo1.png' %>" alt="demo" /></a>New Logo
                </div>
                <div class="response">
                    <span class="response-count">16</span><a href="<%= asset_path 'demo2.png' %>" target="_blank"><img src="<%= asset_path 'demo2.png' %>" alt="demo2" /></a><span>Old Logo</span>
                </div>
                <h3>Comments</h3>
                <hr />
                <table class="comments">
                    <tr class="odd"><td>
                        <p>I loved it! Great colors. Great use of interesting elements. The first comp was more appealing because I am left handed. The right is great, too, but not as functional for me.</p></td>
                        <td width="15%">
                            <span class="comment-rating"><a href="#">[X]</a><a href="#">[,/]</a></span>
                        </td>
                    </tr>
                    <tr><td>
                        <p>Too much blue in #2. Try a softer green or yellow. It was distracting to have so much color on a page. Plus, red text on a blue background?? Not cool, man.</p></td>
                        <td width="10%">
                            <span class="comment-rating">Already Rated</span>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
        <div class="test">
            <div class="test-heads-up">
                <span class="test-name"><a href="#" data-id="2" class="show-test-details">google</a></span>
                <span class="test-budget">$20.00</span>
                <span class="test-responses">5</span>
                <span class="test-winner">Short Search</span>
                <span class="test-link"><a href="#">View</a></span>
            </div>

                        <div data-id="2" class="test-detail">
                <a href="#">Clone</a> | <a href="#">View Demographics</a>
                <h3>Summary<div class="balance">Balance: <span>$200.00</span> <a href="#">[+]</a></div></h3>
                <hr />
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                <h3>Responses</h3>
                <hr />
                <div class="response">
                    <span class="response-count">5</span><img src="" />New Logo
                </div>
                <div class="response">
                    <span class="response-count">16</span><img src="" /><span>Old Logo</span>
                </div>
                <h3>Comments</h3>
                <hr />
                <table class="comments">
                    <tr class="odd"><td>
                        <p>I loved it! Great colors. Great use of interesting elements. The first comp was more appealing because I am left handed. The right is great, too, but not as functional for me.</p></td>
                        <td width="15%">
                            <span class="comment-rating"><a href="#">[X]</a><a href="#">[,/]</a></span>
                        </td>
                    </tr>
                    <tr><td>
                        <p>Too much blue in #2. Try a softer green or yellow. It was distracting to have so much color on a page. Plus, red text on a blue background?? Not cool, man.</p></td>
                        <td width="10%">
                            <span class="comment-rating">Already Rated</span>
                        </td>
                    </tr>
                </table>
        </div>
    </div>

        <div class="test odd">
            <div class="test-heads-up">
                <span class="test-name" class="show-test-details"><a href="#" data-id="3" class="show-test-details">more stuff</a></span>
                <span class="test-budget">$20.00</span>
                <span class="test-responses">5</span>
                <span class="test-winner">Short Search</span>
                <span class="test-link"><a href="#">View</a></span>
            </div>

                        <div data-id="3" class="test-detail">
                <a href="#">Clone</a> | <a href="#">View Demographics</a>
                <h3>Summary<div class="balance">Balance: <span>$200.00</span> <a href="#">[+]</a></div></h3>
                <hr />
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                <h3>Responses</h3>
                <hr />
                <div class="response">
                    <span class="response-count">5</span><img src="" />New Logo
                </div>
                <div class="response">
                    <span class="response-count">16</span><img src="" /><span>Old Logo</span>
                </div>
                <h3>Comments</h3>
                <hr />
                <table class="comments">
                    <tr class="odd"><td>
                        <p>I loved it! Great colors. Great use of interesting elements. The first comp was more appealing because I am left handed. The right is great, too, but not as functional for me.</p></td>
                        <td width="15%">
                            <span class="comment-rating"><a href="#">[X]</a><a href="#">[,/]</a></span>
                        </td>
                    </tr>
                    <tr><td>
                        <p>Too much blue in #2. Try a softer green or yellow. It was distracting to have so much color on a page. Plus, red text on a blue background?? Not cool, man.</p></td>
                        <td width="10%">
                            <span class="comment-rating">Already Rated</span>
                        </td>
                    </tr>
                </table>
        </div>


        </div>
    </div>
</div>
