
<!DOCTYPE html>
<html>
  <head>
    <title>UsePhoria</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/yma3kus.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="tiptop">
      <%= render "/nav" %>
  </div>
  
  <header>
    <div class="header">
    <div class="header-left">

      <h1><span>USEPHORIA</span></h1>   
      <h2>Dead simple user testing</h2>
      <p class="tagline">Test early, test often. UsePhoria delivers the fast testing and honest feedback you need.</p>
      <a href="<%= new_user_registration_path %>"><button class="calltoaction">Start your first test &raquo;</button></a>
      
    </div>
    <div class="header-right">
            <img src="<%= asset_path 'sketch.png' %>" alt="sketch" width="450px" style="margin-top:20px;" />


    </div>
    </div>
  </header>

  <div class="highlight">
    <ul>
      <li class="find-survey">Find a test</li>
      <li class="give-feedback">Give Feedback</li>
      <li class="get-paid">Get Paid</li>
    </ul>

          <img src="<%= asset_path 'big-arrow.png' %>" alt="big arrow" style="margin: 0px;
position: absolute;
margin-top: -45px;
height: 30px;
left: 230px;" />

          <img src="<%= asset_path 'big-arrow.png' %>" alt="big arrow" style="margin: 0px;
position: absolute;
margin-top: -45px;
height: 30px;
left: 440px;" />

  </div>


  <section class="middle">
    <div class="midsection">

      <div class="col1">
        <h2>I can't wait to get my hands on this!</h2>
        <p>- Joey Figaro, Speakeasy</p>
        <img class="homepage-logo" src="<%= asset_path 'speakeasy.png' %>" />
      </div>
      <div class="col2">
        <h2>Parts of our business could use it, actually.</h2>
        <p>- Sam O’Daniel, SendGrid</p>
          <img class="homepage-logo" src="<%= asset_path 'sendgrid.png' %>" />
      </div>
      <div class="col3">
        <h2>I dig this.</h2>
        <p>- Roger Hicks, reckahdam</p>
          <img class="homepage-logo" src="<%= asset_path 'rekcahdam.png' %>" />
      </div>

    </div>
  </section>

  <%= render "/footer" %>

</body>
