<!DOCTYPE html>
<html>
  <head>
    <title>Usephoria</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/yma3kus.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body class="notfront">

  <div class="tiptop">
    <div style="width:980px;margin:0 auto;">
    <h1 style="float:left;width:100px;font-size:22px;"><span>USEPHORIA</span></h1>  
    <ul>
      <li><%= link_to( 'Dashboard', controller: 'static', action: 'dashboard' ) %></li>
      <li><%= link_to( 'New Test', controller: 'static', action: 'newTest' ) %></li>
      <li class="signin"><a href="#">Logout</a></li>
    </ul>

  </div>
  </div>

  <header style="height:10px;"></header>
  


    <flash>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </flash>
    <content>
        <div id="container">
            <%= yield %>
        </div>
    </content>
    <footer>
    <div class="footer">
        <p>UsePhoria is a start up developed at RVA Startup weekend, 2013.</p> 
        <p>Bradley | Jeremy | Giuseppe | Tiffany | Joshua</p>
    </div>
    </footer>
  </body>
</html>
