<!DOCTYPE html>
<html>
  <head>
    <title>Usephoria</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <h1>usephoria</h1>
    <nav><ul><li>Home</li><li>New Project</li><li>Logout</li></ul></nav>
  </header>
  <body>
    <flash>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </flash>
    <content> 
      <%= yield %>
    </content>
  </body>
</html>
